## LIST EXERCISES

In [8]:
#Creating a list of five random numbers
import random

rand_num=[random.randint(1,50) for _ in range(5)]
print("List of five random numbers:",rand_num)

List of five random numbers: [24, 4, 27, 24, 50]

In [25]:
#Inserting 3 new random values

rand_num.extend([random.randint(1,50) for _ in range(3)])
print("List of five random numbers:",rand_num)

List of five random numbers: [24, 4, 27, 24, 50, 9, 33, 29, 22, 28, 14]

In [12]:
#printing numbers in the list

print("Numbers in the list:")
for numbers in rand_num:
    print(numbers)

Numbers in the list:
24
4
27
24
50
9
33
29

## DICTIONARY EXERCISES

In [15]:
#Creating a dictionary

person_info={'Name':'John','Age':25,'Place':'New York'}
print(person_info)

{'Name': 'John', 'Age': 25, 'Place': 'New York'}

In [20]:
#Add a new element

person_info['Phone']=1234567890
print("Updated Dictionary:",person_info)

Updated Dictionary: {'Name': 'John', 'Age': 25, 'Place': 'New York', 'Phone': 1234567890}

## SET EXERCISES

In [22]:
#Create a set

Num_set={1,2,3,4,5}
print("set:",Num_set)

set: {1, 2, 3, 4, 5}

In [23]:
#Add 6 to the list

Num_set.add(6)
print("updated set:",Num_set)

updated set: {1, 2, 3, 4, 5, 6}

In [26]:
#Remove 3 from the list

Num_set.remove(3)
print("updated set:",Num_set)

updated set: {1, 2, 4, 5, 6}

## TUPLE EXERCISES

In [27]:
# Create a tuple

tuple_num=(1,2,3,4)
print("Tuple:",tuple_num)

Tuple: (1, 2, 3, 4)

In [28]:
#Length of the Tuple

print("Length of the Tuple is :",len(tuple_num))

Length of the Tuple is : 4